colorama==0.4.6
mpmath==1.3.0
numpy==2.5.3
pyqtgraph==0.14.0
PySide6==6.12.0
PySide6_Addons==6.12.0
PySide6_Essentials==6.12.0
PySide6_Pdf==6.12.0.140
PySide6_WebEngine==6.12.0.140
shiboken6==6.12.0
sympy==1.14.0
